openapi: 3.0.0
info:
  title: Opiniion Webhook Integration API
  version: "1.0.0"
  description: >
    This API endpoint receives standardized webhook requests from integration partners.
    It accepts user and related metadata in a JSON payload.
servers:
  - url: "https://appbackend.opiniion.com"
paths:
  /integrations/webhooks/standard:
    post:
      summary: Receive Standard Webhook Data
      description: >
        Receives webhook data in a standardized JSON format. The endpoint extracts user
        details and integration metadata for further processing.
      requestBody:
        description: Webhook payload containing user and integration data.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uid:
                  type: string
                  description: Unique identifier for the request.
                  example: "123456"
                api:
                  type: string
                  description: API key or identifier.
                  example: "456789"
                firstname:
                  type: string
                  description: First name of the user.
                  example: "Derrick"
                lastname:
                  type: string
                  description: Last name of the user.
                  example: "Karlinsey"
                email:
                  type: string
                  format: email
                  description: Email address of the user.
                  example: "email@email"
                phone:
                  type: string
                  description: Phone number.
                  example: "1111111"
                countrycode:
                  type: string
                  description: International country code.
                  example: "+1"
                status:
                  type: string
                  description: Status of the user (e.g., active, inactive).
                  example: "active"
                source:
                  type: string
                  description: The origin system for the data (e.g., CRM).
                  example: "CRM"
                notes:
                  type: string
                  description: Additional notes regarding the user.
                  example: "This is a note,this is a second note"
                tags:
                  type: string
                  description: Comma-separated tags associated with the user.
                  example: "#201,WOID: 12344"
              required:
                - uid
                - api
                - firstname
                - lastname
                - email
                - phone
                - countrycode
                - status
                - source
                - notes
                - tags
      responses:
        '200':
          description: Webhook data received successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Webhook received successfully."
        '400':
          description: Bad Request – Invalid or missing data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid payload."
        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Internal server error."