openapi: 3.0.0
info:
  title: Opiniion Webhook Integration API
  version: "1.0.0"
  description: >
    This API endpoint receives webhook requests from the outside world.
    It accepts a customer/resident and related metadata in a JSON payload.
servers:
  - url: "https://appbackend.opiniion.com"
paths:
  /integrations/webhooks/standard:
    post:
      summary: Receive Webhook Data
      description: >
        Receives webhook data in a standardized JSON format. The data will be processed and if valid, dispatched to Opiniion
      requestBody:
        description: Webhook payload containing customer/resident and Opiniion location data
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                uid:
                  type: string
                  description: Unique identifier for the request.
                  example: "B1234"
                api:
                  type: string
                  description: API key or identifier.
                  example: "456789"
                opinlocations:
                  type: string
                  description: An optional way of including multiple locations in one request. This is used if you're attempting to split customer/resident data from one location to multiple Opiniion locations. (uid,api:uid,api)
                  example: "B1234,456789:B5678,98764"
                firstname:
                  type: string
                  description: User's first name.
                  example: "Derrick"
                  x-aliases:
                    - firstName
                lastname:
                  type: string
                  description: Person's last name
                  example: "Karlinsey"
                  x-aliases:
                    - lastName
                email:
                  type: string
                  format: email
                  description: Email address of the person.
                  example: "derrickk@opiniion.com"
                phone:
                  type: string
                  description: Phone number of the person.
                  example: "1111111"
                countrycode:
                  type: string
                  description: International country code.
                  example: "+1"
                status:
                  type: string
                  description: Status of the user (e.g., active, inactive).
                  example: "active"
                source:
                  type: string
                  description: The origin system for the data (e.g., CRM).
                  example: "CRM"
                notes:
                  type: string
                  description: Additional notes associated with the person. Comma-delimited
                  example: "This is a note,this is a second note"
                tags:
                  type: string
                  description: Comma-separated tags associated with the person. Comma-delimited
                  example: "#201,WOID: 12344"
              required:
                - uid
                - api
                - email
                - phone
                - countrycode
                - status
                - source
                - notes
                - tags
              allOf:
                - oneOf:
                    - required: ["firstname"]
                    - required: ["firstName"]
                - oneOf:
                    - required: ["lastname"]
                    - required: ["lastName"]
      responses:
        "200":
          description: Webhook data received successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Webhook received successfully."
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Integration(s) are inactive"
              examples:
                example1:
                  summary: Integration Records in Opiniion are inactive
                  value:
                    error: "Integration(s) are inactive"
                example2:
                  summary: No customers provided
                  value:
                    error: "No customers provided"
                example3:
                  summary: Missing uid/api key
                  value:
                    error: "Missing Location Id/API Key"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Failed to initialize upload."
              examples:
                example1:
                  summary: Internal Error in Opiniion
                  value:
                    error: "Failed to initialize upload."
